<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Welcome to My Ionic App</h1>
  

  <ion-button expand="block" color="primary" routerLink="/remote">
    Remote App
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Getting Started</ion-card-title>
      <ion-card-subtitle>Ionic Framework</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Build amazing cross-platform apps with Ionic. This is a quick example of how to create an interactive card.
    </ion-card-content>
  </ion-card>
</ion-content>
